
.inBoardGameId {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: .8em;
}

.inBoardPanel {
  position: relative;
}

.inBoardHeading {
  position: relative;
  padding-right: 35px;
  font-size: .9em;
}

@media (max-width: 332px) {
  /* To avoid the garage from sticking out on the right side*/
  .inBoardPanel {
    padding-left: 0;
    padding-right: 0;
  }
}
