/* Global and Bootstrap customization styles */
body { padding-top: 70px; }

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;

}
body {
  /* Margin bottom by footer height */
  margin-bottom: 42px;
}